PORT=4000

DB_HOST=bookonline00-114-pmccole14-ecdc.d.aivencloud.com
DB_PORT=21861
DB_USER=avnadmin
DB_PASSWORD=REEMPLAZAR_PASSWORD
DB_NAME=biblioteca_digital

# Local:
DB_SSL_CA=./certs/ca.pem

# Railway:
# Pegar el contenido completo del ca.pem como variable en Railway.
# Si usas DB_SSL_CA_CONTENT, no hace falta DB_SSL_CA.
DB_SSL_CA_CONTENT=

JWT_SECRET=REEMPLAZAR_JWT_SECRET
